
.dialog {
  padding: 10px;
  font-size: 25px;
  display: grid;
  grid-template-columns: 35px 1fr;
}

.dialog >img {
  width: 30px;
}

.dialog > a {
  color: black;
  text-decoration: none;
}

.dialog > a:hover {
  color: rgb(102, 102, 102);
}

.dialog a.active {
  color: black;
  font-weight: bold;
}
