.header {
  grid-area: header;
  background-color: rgb(59, 50, 46);
  display: grid;
  grid-template-columns: 100px 1fr;
  gap: 10px;
}

.header img {
  padding-top: 10px;
  padding-left: 10px;
  width: 80px;
}

.header > h1 {
  color: rgb(211, 211, 211);
  align-self: center;
  justify-self: start;
}