.header {
  grid-area: header;
  background-color: rgb(59, 50, 46);
  display: grid;
  grid-template-columns: 1fr 1fr 10fr;
  grid-template-areas: "img title authblock";
  column-gap: 10px;
  align-items: center;
}

.header img {
  grid-area: img;
  padding-top: 10px;
  padding-left: 10px;
  width: 80px;
  line-height: 1em;
}

.header > .mainTitle {
  grid-area: title;
  color: rgb(211, 211, 211);
  justify-self: center;
  height: 50px;
}

.loginBlock {
  grid-area: authblock;
  justify-self: right;
}

.loginBlock > a {
  color: white;
  text-decoration: none;
  font-size: 25px;
  margin-right: 20px;
  transition: color linear 0.1s;
  -webkit-transition: color linear 0.1s;
  -moz-transition: color linear 0.1s;
  -ms-transition: color linear 0.1s;
  -o-transition: color linear 0.1s;
}

.loginBlock p {
  color: white;
  font-size: 20px;
  margin-right: 20px;
}

.loginBlock > a:hover {
  color: rgb(150, 150, 150);
}
