.nav {
  grid-area: nav;
  background-color: lightgreen;
  padding: 20px;
}

.item {
  padding: 5px;
}


.item a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.item a:hover {
  color: rgb(238, 231, 194);
}

.item a.activeLink {
  color: gold;
}