.descriptionBlock {
  display: grid;
  grid-template-columns: 450px 1fr;
  margin: 10px;
}

.descriptionBlock img {
  width: 400px;
}

.descriptionBlock p:first-child {
  font-size: 25px;
}

.descriptionBlock p {
  font-size: 20px;
}

.contacts {
  line-height: 5px;
}