.descriptionBlock {
  display: grid;
  grid-template-columns: 550px 1fr;
  align-items: center;
  margin: 10px 0 0 10px;
}


.descriptionBlock .mainPhoto img {
  width: 500px;
}


.descriptionBlock .profileInfo {
  font-size: 20px;
}

.contacts {
  margin-top: 20px;
  line-height: 1.5em;
}

.contact{
  font-size: 18px;
  line-height: 1.5em;
}

.formSummaryError {
  padding: 5px;
  color: red
}